@charset "UTF-8";
body{
  background-image: url(enter.png);
  background-size: cover;
  font-family: 'Source Sans Pro', 'メイリオ',
  'Hiragino Kaku Gothic Pro', sans-serif}
#title{
  color: #FF00BF;
}

.enter {
  display: inline-block;
  text-decoration: none;
  color: #FFF;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-style: solid;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  background-image: -webkit-linear-gradient(45deg, #FF00BF 0%, #F5A9D0 100%);
  background-image: linear-gradient(45deg, #FF00BF 0%, #F5A9D0 100%);
  transition: .4s;
}

.enter:hover{
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}
