@charset "UTF-8";
body  {
       display: -ms-grid;
       -ms-grid-columns:2fr 1fr 602px 2fr;
       -ms-grid-rows:1fr 602px 2fr;
     }

.site {
       -ms-grid-column:1;
	     -ms-grid-column-span:4;
	     -ms-grid-row: 1;
       }
.colors {
      -ms-grid-column:1;
      -ms-grid-row:2;
        }
.colors canvas{
  margin-left: 10px;
  width: 200px;
  height: 200px;
}
.layerbtn{
  -ms-grid-column:2;
  -ms-grid-row:2;
}
#layer {
      -ms-grid-column:3;
      -ms-grid-row:2;
      margin:auto;
}
#chat{
  -ms-grid-column:4;
  -ms-grid-row:2;
  background-color: #f0f0f0;
}
#footer1{
	-ms-grid-column:1;
  -ms-grid-row:3;
}
#footer2{
  	-ms-grid-column:2;
    -ms-grid-row:3;
}
#footer3{
  	-ms-grid-column:3;
    -ms-grid-row:3;
}
#footer4{
  	-ms-grid-column:4;
    -ms-grid-row:3;
}

/*IE用ここまで*/
/*モダンここから*/

body  {display: grid;
      grid-template-areas:
                "head head head head"
                "side1 side2 main side3"
                "foot1 foot2 foot3 foot4";
      grid-template-columns: 3fr 1fr 602px 2fr;
      grid-template-rows: 1fr 600px 2fr;
       margin: 0;
       font-family: 'Source Sans Pro', 'メイリオ',
       'Hiragino Kaku Gothic Pro', sans-serif;
       }
#fotter1 {
      grid-area: foot1;
}
#fotter2 {
      grid-area: foot2;
}
#fotter3 {
      grid-area: foot3;
}
#fotter4 {
      grid-area: foot4;
}
.site  {
       grid-area: head;
       background-color: #67c5ff;
       padding: 0;
       text-align: center}

.site p  {  color: #ffffff;
            font-size: 40px;
            margin: 0;
            font-family: 'Paytone One', sans-serif;
            text-decoration: none;}

.site div { width: 40px;
            height: 40px;
            margin: 10px;
            border-radius: 50%;
            background: white;}

.colors  {
            grid-area: side1;
            padding: 20px 0;
            background-color: #ffffff;
      }

input   {
            list-style: none;
            margin-bottom: 15px;
            padding: 5px;
            color: #000000;
            font-size: 14px;
            text-decoration: none;
            list-style: none;
       }
button {
            display: inline-block;
            padding: 0.3em 1em;
            margin-bottom: 3px;
            text-decoration: none;
            color: #67c5ff;
            border: solid 2px #67c5ff;
            border-radius: 3px;
            transition: .4s;
            height: 28px;
         }

button:hover {
            background: #67c5ff;
            color: white;
         }
.layer {
            grid-area: main;
            position: relative;
}
#exit {
  text-align: center;
  width: 100px;
}
@supports (display:grid) {
  .layer canvas{
    top: -300px;
    left: -300px;
  }
}
.footer{
	grid-area:foot1;
  display: inline-block;
}

.layer canvas {
            border: solid 2px #67c5ff;
            position: absolute;
}
.layerbtn button{
            display: block;
            margin: 5px;
            grid-area: side2;
            width: 85px;
            height: 25px;
}

button.my-layer {
            background: #67c5ff;
            color: white;
}
button.my-layer:hover {
            background: #67c5ff;
            color: white;
}
button.empty-layer {

}
button.used-layer {
            background: #FFFF00;
            border: solid 2px #67c5ff;
            color: #67c5ff;
}
#msgList {
            text-decoration: none;
            list-style: none;
            padding: 5px 10px;
            height: 500px;
            overflow:auto;
}
.colors button {
            width: 92px;
}

#n_layer {
            display: none;
}

#sum canvas {
  border: solid 2px #67c5ff;
  position: absolute;
}
#sum {
  position: relative;
}
#canvas1,
#s_canvas1 {
  z-index: 0;
}
#canvas2,
#s_canvas2 {
  z-index: 1;
}
#canvas3,
#s_canvas3 {
  z-index: 2;
}
#canvas4,
#s_canvas4 {
  z-index: 3;
}
#canvas5,
#s_canvas5 {
  z-index: 4;
}
#canvas6,
#s_canvas6 {
  z-index: 5;
}
#canvas7,
#s_canvas7 {
  z-index: 6;
}
#canvas8,
#s_canvas8 {
  z-index: 7;
}
#canvas9,
#s_canvas9 {
  z-index: 8;
}
#canvas10,
#s_canvas10 {
  z-index: 9;
}
#chat{
  grid-area: side3;
  background-color: #f0f0f0;
}

@media (min-width:600px) and (max-width:999px) {
  body{
    -ms-grid-columns: 2fr 1fr 602px;
    -ms-grid-rows:1fr 602px 3fr;
  }
  #chat{
    -ms-grid-column:1;
    -ms-grid-column-span:3;
    -ms-grid-row:3;
  }
  body{
    grid-template-areas:
    "head head head"
    "side1 side2 main"
    "foot1 foot2 foot3";
    grid-template-columns: 2fr 1fr 602px;
    grid-auto-rows: 1fr 602px 3fr;
  }
  .layerbtn{
    display: inline-block;
    margin: 0;
    padding: 0;
  }
  .layerbtn button{
    padding: 0;
    font-size: 12px;
    text-align: center;
    flex:1;
  }
  .colors canvas{
    margin-left: 10px;
    width: 150px;
    height: 150px;
  }
  #chat{
    height: 100px;
    display: flex;
  }
}
@media (max-width: 599px) {
  body{
    display: block;
  }
  #fotter1 {
        grid-area: foot1;
  }
  #fotter2 {
        grid-area: foot2;
  }
  #fotter3 {
        grid-area: foot2;
  }
  #fotter4 {
        grid-area: foot3;
  }
  .layerbtn{
    display: flex;
    margin: 0;
    padding: 0;
  }
  .layerbtn button{
    padding: 0;
    font-size: 9px;
    text-align: center;
    flex:1;
  }
  #sum{
    display: none;
  }
  .layer{
    top:600px;
    left:300px;
  }

}
