@charset "UTF-8";
body  {
       display: -ms-grid;
　     -ms-grid-columns: 3fr 600px 2fr;
       -ms-grid-rows:1fr 600px 600px;
     }
.site {
       -ms-grid-column:1;
	     -ms-grid-column-span:3;
	     -ms-grid-row: 1;
       }
.colors {
      -ms-grid-column:1;
      -ms-grid-row:2;
      width: auto;
    }
.colors canvas{
  margin-left: 10px;
  width: 300px;
  height: 300px;
}
#layer {
      -ms-grid-column:2;
      -ms-grid-row:2;
      margin:auto;
}
#chat{
  -ms-grid-column:3;
  -ms-grid-row:2;
  background-color: #f0f0f0;
}


body  {display: grid;
      grid-template-areas:
                "head head head"
                "side1 main side2"
                "foot foot foot";
      grid-template-columns: 3fr 600px 2fr;
      grid-template-rows: 1fr 600px 600px;
       margin: 0;
       font-family: 'Source Sans Pro', 'メイリオ',
       'Hiragino Kaku Gothic Pro', sans-serif;
       }

.site  {
       grid-area: head;
       background-color: #cf6766;
       padding: 0;
       text-align: center}

.site p  {color: #ffffff;
          font-size: 40px;
          margin: 0;
          font-family: 'Paytone One', sans-serif;
          text-decoration: none;}

.site div { width: 40px;
            height: 40px;
            margin: 10px;
            border-radius: 50%;
            background: white;}

.colors  {
        grid-area: side1;
        padding: 20px 0;
        background-color: #ffffff;
        width: auto;
      }

input   {
         list-style: none;
         margin-bottom: 15px;
         padding: 5px;
         color: #000000;
         font-size: 14px;
         text-decoration: none;
         list-style: none;}
button {
             display: inline-block;
             padding: 0.3em 1em;
             text-decoration: none;
             color: #67c5ff;
             border: solid 2px #67c5ff;
             border-radius: 3px;
             transition: .4s;
         }

button:hover {
             background: #67c5ff;
             color: white;
         }
.layer canvas{
  grid-area: main;
  margin: auto;
}
#layer canvas {
  border: solid 1px black;
  position: absolute;
}
#layer {
  position: relative;
}
#sum canvas {
  border: solid 1px black;
  position: absolute;
}
#sum {
  position: relative;
}
#canvas1,
#s_canvas1 {
  z-index: 0;
}
#canvas2,
#s_canvas2 {
  z-index: 1;
}
#canvas3,
#s_canvas3 {
  z-index: 2;
}
#canvas4,
#s_canvas4 {
  z-index: 3;
}
#canvas5,
#s_canvas5 {
  z-index: 4;
}
#canvas6,
#s_canvas6 {
  z-index: 5;
}
#canvas7,
#s_canvas7 {
  z-index: 6;
}
#canvas8,
#s_canvas8 {
  z-index: 7;
}
#canvas9,
#s_canvas9 {
  z-index: 8;
}
#canvas10,
#s_canvas10 {
  z-index: 9;
}
#chat{
  grid-area: side2;
  background-color: #f0f0f0;
}
