@charset "UTF-8";
body  {
       display: -ms-grid;
　     -ms-grid-columns: 2fr 1fr 600px 2fr;
       -ms-grid-rows:1fr 600px 10px;
     }
.site {
       -ms-grid-column:1;
	     -ms-grid-column-span:4;
	     -ms-grid-row: 1;
       }
.colors {
      -ms-grid-column:1;
      -ms-grid-row:2;
        }
.colors canvas{
  margin-left: 10px;
  width: 200px;
  height: 200px;
}
.layerbtn{
  -ms-grid-column:2;
  -ms-grid-row:2;
}
#layer {
      -ms-grid-column:3;
      -ms-grid-row:2;
      margin:auto;
}
#chat{
  -ms-grid-column:4;
  -ms-grid-row:2;
  background-color: #f0f0f0;
}
/*IE用ここまで*/
/*モダンここから*/

body  {display: grid;
      grid-template-areas:
                "head head head head"
                "side1 side2 main side3"
                "foot foot foot foot";
      grid-template-columns: 3fr 1fr 602px 2fr;
      grid-template-rows: 1fr 600px 10px;
       margin: 0;
       font-family: 'Source Sans Pro', 'メイリオ',
       'Hiragino Kaku Gothic Pro', sans-serif;
       }

.site  {
       grid-area: head;
       background-color: #cf6766;
       padding: 0;
       text-align: center}

.site p  {  color: #ffffff;
            font-size: 40px;
            margin: 0;
            font-family: 'Paytone One', sans-serif;
            text-decoration: none;}

.site div { width: 40px;
            height: 40px;
            margin: 10px;
            border-radius: 50%;
            background: white;}

.colors  {
            grid-area: side1;
            padding: 20px 0;
            background-color: #ffffff;
      }

input   {
            list-style: none;
            margin-bottom: 15px;
            padding: 5px;
            color: #000000;
            font-size: 14px;
            text-decoration: none;
            list-style: none;
       }
button {
            display: inline-block;
            padding: 0.3em 1em;
            margin-bottom: 3px;
            text-decoration: none;
            color: #67c5ff;
            border: solid 2px #67c5ff;
            border-radius: 3px;
            transition: .4s;
            height: 28px;
         }

button:hover {
            background: #67c5ff;
            color: white;
         }
.layer {
            grid-area: main;
            position: relative;
}
.layer canvas {
            border: solid 1px black;
            position: absolute;
            top: -300px;
            left: -300px;
}
.layerbtn button{
            display: block;
            grid-area: side2;
            width: 75px;
            height: 25px;
}

button.my-layer {
            background: #67c5ff;
            color: white;
}
button.my-layer:hover {
            background: #67c5ff;
            color: white;
}
button.empty-layer {

}
button.used-layer {
            background: #ffe30e;
            border: solid 2px #ffe30e;
            color: white;
}
#msgList {
            text-decoration: none;
            list-style: none;
            padding-left: 10px;
}
.colors button {
            width: 92px;
}

#n_layer {
            display: none;
}

#sum canvas {
  border: solid 1px black;
  position: absolute;
}
#sum {
  position: relative;
}
#canvas1,
#s_canvas1 {
  z-index: 0;
}
#canvas2,
#s_canvas2 {
  z-index: 1;
}
#canvas3,
#s_canvas3 {
  z-index: 2;
}
#canvas4,
#s_canvas4 {
  z-index: 3;
}
#canvas5,
#s_canvas5 {
  z-index: 4;
}
#canvas6,
#s_canvas6 {
  z-index: 5;
}
#canvas7,
#s_canvas7 {
  z-index: 6;
}
#canvas8,
#s_canvas8 {
  z-index: 7;
}
#canvas9,
#s_canvas9 {
  z-index: 8;
}
#canvas10,
#s_canvas10 {
  z-index: 9;
}
#chat{
  grid-area: side3;
  background-color: #f0f0f0;
}
